body {
  color: #58666e;
  background-color: #f0f3f4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size:15px;
}

.text-muted {
  color: #98a6ad;
}

a, a:focus, a:hover {
  color: inherit;
  text-decoration: none;
}

button:focus { outline: none !important; }

.tool-show {
  margin-bottom: 20px;
  clear: both;
}

#input-todo {
  margin-bottom: 10px;
}

#search-todo{
  margin-bottom:15px;
  float: right;
  padding: 10px;
  background: white;
  border: 1px solid #e0e0e0;
}

.select-all{
  font-size: 16px !important;
}

#btn-removeCompletedTodos, #activeTodos{
  font-size:15px;
}

#select-todo {
    margin-left: 5px;
    padding: 12px;
    border: 1px solid #e0e0e0;
}

#button-todo{
  padding: 10px;
  background: white;
  border: 1px solid #e0e0e0;
  vertical-align : top;
}

#count-all{
  float:right;
  font-size:18px;
  font-weight:bold;
  margin:0;
  line-height:40px;
}

.form-control {
  box-shadow: none;
  border-color: #e7ecee;
}

.form-control:focus {
  border-color: #23b7e5;
}

.nav.nav-xs > li > a {
  padding: 10px 15px;
  font-size: 20px;
}

.nav-pills > li.active > a {
  color: #fff !important;
  background-color: #23b7e5;
}

.nav-pills>li.active>a:active,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
  background-color: #19a9d5;
}

.title {
  font-size: 80px;
  font-weight: 100;
  text-align: center;
  color: #23b7e5;
  margin-bottom: 30px;
  margin-top:20%;
}

.list-group-item {
  padding-left: 0;
  padding-right: 15px;
  border-color: #e7ecee;
}

.hover-anchor {
  height: 30px;
  line-height: 30px;
}

.hover-action {
  display: none;
}

.list-group-item:hover .hover-action {
  display: block;
  transition: all .2s;
}

.hover-action > span {
  font-size: 18px;
  top: 5px;
  cursor: pointer;
}

.checked {
  text-decoration: line-through;
}

.i-checks {
  width: 94%;
  padding-left: 35px;
  font-weight: normal;
  user-select: none;
  cursor: pointer;
}

.i-checks > input[type=checkbox] {
  display: none;
}

.i-checks > i {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-top: -2px;
  margin-right: 10px;
  margin-left: -20px;
  background-color: #fff;
  border: 1px solid #cfdadd;
  vertical-align: middle;
}

.i-checks > i:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background-color: transparent;
  transition: all .1s;
}

.i-checks input:checked + i:before {
  top: 4px;
  left: 4px;
  width: 10px;
  height: 10px;
  background-color: #23b7e5;
}

.i-checks > span {
  font-size:22px;
}

.nav > li {
  cursor: pointer;
}

#message-todo{
    text-align: center;
    font-size: 17px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    background: white;
    padding: 10px 0;
}